<div class="campaign-management">
  <div class="left-panel">
    <div class="campaign-tabs">
      <div
        class="tab"
        [class.active]="activeTab === 'create-campaigns'"
        (click)="selectTab('create-campaigns')"
      >
        <span>Create Campaigns</span>
      </div>

      <div
        class="tab"
        [class.active]="activeTab === 'public-campaigns'"
        (click)="selectTab('public-campaigns')"
      >
        <span>Public Campaigns</span>
      </div>
    </div>

    <div
      class="tab"
      [class.active]="activeTab === 'show-campaigns'"
      (click)="selectTab('show-campaigns')"
    >
      <span>Show Campaigns</span>
    </div>
  </div>

    <div *ngIf="activeTab === 'create-campaigns'" class="campaign-list">
      <h2>Create Campaigns</h2>
      <ul>
        <li>
          <!-- Placeholder for campaigns -->
        </li>
      </ul>
    </div>

    <div *ngIf="activeTab === 'public-campaigns'" class="campaign-list">
      <h2>Public Campaigns</h2>
      <ul>
        <li>
          <!-- Placeholder for public campaigns -->
        </li>
      </ul>
    </div>
  </div>

<div *ngIf="activeTab === 'show-campaigns'" class="campaign-list">
  <h2>Public Campaigns</h2>
  <ul>
    <li>
      <!-- Placeholder for public campaigns -->
    </li>
  </ul>
</div>


  <div class="right-panel join-campaign">
    <div class="account-info-button">
      <button (click)="viewAccountInfo()">Account Information</button>
    </div>
    <h2>Join a Campaign</h2>
    <form>
      <div class="form-group">
        <input
          type="text"
          id="campaign-id"
          placeholder="Enter the campaign ID"
          name="campaign-id"
          required
        />
      </div>
      <button type="submit">Join</button>
    </form>
  </div>

