<div class="main-layout">
  <!-- Barre latérale gauche -->

  <aside class="sidebar sidebar-left">
    <app-character-list [campaignId]="campaignId"></app-character-list>
  </aside>

  <!-- Zone principale -->
  <main class="display-area">


    <app-display-area></app-display-area>
  </main>

  <!-- Barre latérale droite -->
  <aside class="sidebar sidebar-right">
    <app-person-list [campaignId]="campaignId"></app-person-list>
    <div class="create-button-container">
      <button (click)="createCharacter()" class="create-btn">Create player</button>
    </div>
  </aside>
</div>
