
.main-layout {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin: 20px;
}

.sidebar {
  flex: 1;
  background-color: #f4f4f4;
  border-radius: 8px;
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.sidebar-left {

}

.sidebar-right {
  display: flex;
  flex-direction: column;
}

.display-area {
  flex: 2;
  background-color: #fff;
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.create-button-container {
  margin-top: 20px;
  text-align: center;
}

.create-btn {
  background-color: #5a3e9b;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-btn:hover {
  background-color: #7d57cc;
}

@media (max-width: 768px) {
  .main-layout {
    flex-direction: column;
  }

  .sidebar,
  .display-area {
    flex: 1 1 100%;
  }
}
